<h3>Edit Category</h3>
<%= form_for @category do |f| %> 

  <div class= "mb-3">
    <div class="form-label"><%= f.label :title %></div>
      <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
    </div>
    
  <div class= "mb-3">
    <div class="form-label"><%= f.label :image %></div>
      <%= f.file_field :image, direct_upload: true, autocomplete: "image" %>
    </div>
   
  <div class="actions">
      <%= f.submit "submit" %>
  </div>
  </div>
  </div>  
<% end %>
<br>
  <%= link_to 'Back', categories_path %>